<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <label> FirstName </label>
      <input type="text" name="firstname"  required>
  <br>
    <label> LastName </label>
      <input type="text" name="lastname" required>
     <br>
    <label> Address </label>
      <input type="text" name="address"  required>
  <br>
      <input type="submit" value="Submit">
    <br>
    <input type="reset" value="Cancel">
</form>
</body>
</html>